<!-- Header -->
<ion-header>
  <ion-toolbar color="primary">
    
    <ion-buttons slot="start">
      <ion-back-button *ngIf="level > 0"></ion-back-button>
    </ion-buttons>
    
    <ion-title>Développeurs</ion-title>
    
    <ion-buttons slot="end">
      <ion-buttons (click)="close()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-buttons>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>
<!-- End Header -->


<ion-content>  

  <!-- Section level 0 -->
  <section *ngIf="level===0">

    <!-- breadcrumb -->
    <div>
      <span (click)='close()'>{{dev.name}}</span>
      > Sites
    </div>
    <!-- End breadcrumb -->


    <!-- Navigation link -->
    <ion-list *ngFor="let item of dev.sites; index as i">
      <ion-nav-link 
        router-direction="forward"
        [component]="nextPage"
        [componentProps]="{level: level+1,
                           site: dev.sites[i],
                           dev: dev,
                          developpersArray: developpersArray}">
        <ion-card>
          <ion-card-header>
            <ion-card-title>{{item.name}}</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <p>{{item.deploy}}</p>
          </ion-card-content>
        </ion-card>
      </ion-nav-link>
    </ion-list>
    <!-- End Navigation link -->

  </section>
  <!-- End Section level 0 -->



  <!-- Section level 1 -->
  <section *ngIf="level===1">

      <!-- BreadCrumb -->
      <div>
      
        <span (click)='close()'>{{dev.name}}</span>
        > 
        <ion-nav-link
          router-direction="back">
          {{site.name}} 
        </ion-nav-link>
        > Client
  
      </div>
  
      <div>
        {{site.client.name}}
      </div>
  
      <!-- Display others Dev -->

      <h1>See others developpers</h1>
      <ion-card (click)="subModal(i)" *ngFor="let dev of developpersArray; index as i">
        <ion-card-header>
          <ion-card-title>{{dev.name}}</ion-card-title>
        </ion-card-header>
      </ion-card>
   
  </section>
  <!-- End Section level 1 -->

</ion-content>