<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button *ngIf="level > 0"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="close()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Développeurs</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <!-- Section level 0 -->
  <section *ngIf="level===0">
    <!-- Navigation link -->
    <ion-nav-link 
      router-direction="forward"
      [component]="nextPage"
      [componentProps]="{level: level+1, 
                          arrayId: i}"
      *ngFor="let item of array; index as i">
      <ion-button expand="full" color="success">
        {{item.name}}
      </ion-button>
    </ion-nav-link>
    <!-- End Navigation link -->
  </section>
  <!-- End Section level 0 -->



  <!-- Section level 1 -->
  <section *ngIf="level===1">

    <!-- breadcrumb -->
    <div>
      <ion-nav-link router-direction='back'>{{array[arrayId].name}}</ion-nav-link>
       > Sites
    </div>
    
    <ion-list *ngFor="let item of array[arrayId].sites; index as i">
      <ion-nav-link [component]="nextPage"
      [componentProps]="{level: level+1, arrayId: arrayId, siteId: i}">
        <ion-card>
          <ion-card-header>
            <ion-card-title>{{item.name}}</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <p>{{item.deploy}}</p>
          </ion-card-content>
        </ion-card>
        
      </ion-nav-link>
    </ion-list>

  </section>
  <!-- End Section level 1 -->



  <!-- Section level 2 -->
  <section *ngIf="level===2">

    <!-- BreadCrumb -->
    <div>
      
      <ion-nav-link 
        [component]="nextPage"
        [componentProps]="{level: 0}">
        {{array[arrayId].name}}
      </ion-nav-link>
      > 
      <ion-nav-link
        router-direction="back">
        {{array[arrayId].sites[siteId].name}} 
      </ion-nav-link>
      > Client

    </div>

    <div>
      {{array[arrayId].sites[siteId].client.name}}
    </div>

    <!-- Display others Dev -->
    <ion-card (click)="subModal()">
      <ion-card-header>
        <ion-card-title>{{array[1].name}}</ion-card-title>
      </ion-card-header>
    </ion-card>
  </section>
  <!-- End Section level 2 -->

</ion-content>